@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
}

html.dark body {
  background-color: #111827;
}